* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
}

/* place the container in the middle */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* create flex items within the card */
.card {
    max-width: 65%;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #f1f1f1 50%, white 50%);

}



.login-place,
.registration-place {
    max-width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    min-height: 50vh;
    padding: 0 10px;
}


.logo-image {
    max-width: 10vw;
    overflow: hidden;
}


.login {
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    background-color: #56b0e1;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.login:hover {
    background-color: #1d95d5;
}

.first-last-name {
    display: flex;
    flex-direction: row;
    gap: 6px;


}

.first-name,
.last-name {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    line-height: 10px;
    overflow: hidden;

}


.register {
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    background-color: #56b0e1;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    margin-top: 20px;
}

.register:hover {
    background-color: #1d95d5;
}


.email-password {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.email,
.password {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 10px;

}


.input-box {
    height: 35px;
    border-radius: 3px;
    border: 2px solid rgba(128, 128, 128, 0.236);
    overflow: hidden;

}


.first-last-name,
.email-password,
.checkbox {
    font-size: 18px;
    color: gray;
    padding: 10px;
    overflow: hidden;
}


.input-label {
    padding: 15px 0 0 0;
    min-width: 80px;
}

.reg-header {
    padding: 10px 0 0 10px;
    max-width: 20vw;
}

/* phone or small screen resulotion */
@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, #f1f1f1 50%, white 50%);
        align-items: flex-start;
    }

    .first-last-name {
        min-width: 150px;
    }

    .logo-image {
        min-width: 90px;
    }

    .reg-header {
        font-size: 15px;
        padding: 20px 0 0 10px;
        margin-top: 160px;
    }

    .info-text {
        min-width: 200px;
    }
}